<!doctype html>
<html class="no-js light blue" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>$title$ &#167; Ben Sima</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/fantasque-sans-mono" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/main.css" />
        $mathjax$
    </head>
    <body id="$id$">
        <header>
            <h1>$title$</h1>
        </header>

        <article>
            $body$
        </article>

        <footer>
            <nav>
                <a href="/">Home, </a>
                <a href="/archive.html">Archive, </a>
                <a href="/pages/about.html">About</a>
            </nav> |
            <span>&copy; 2015 Ben Sima</span>
        </footer>
    </body>
</html>
