/**
 * Variables and Mixins that conform to the Solarized color scheme
 *
 * http://ethanschoonover.com/solarized
 */
/*
$base03:    rgb(0, 43, 54);
$base02:    rgb(7, 54, 66);
$base01:    rgb(88, 110, 117);
$base00:    rgb(101, 123, 131);
$base0:     rgb(131, 148, 150);
$base1:     rgb(147, 161, 161);
$base2:     rgb(238, 232, 213);
$base3:     rgb(253, 246, 227);
$yellow:    rgb(181, 137, 0);
$orange:    rgb(203, 75, 22);
$red:       rgb(220, 50, 47);
$magenta:   rgb(211, 54, 130);
$violet:    rgb(108, 113, 196);
$blue:      rgb(38, 139, 210);
$cyan:      rgb(42, 161, 152);
$green:     rgb(133, 153, 0);
*/

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;


@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,
              $rebase0, $rebase1, $rebase2, $rebase3) {

    background-color: $rebase03;
    color:            $rebase0;

    footer, pre,
//    highlight, ::selection    { background-color: $rebase02 }
//    highlight, ::selection    { color: $rebase2 }

    *                         { color: $rebase0 }
    h1,h2,h3,h4,h5,h6         { color: $rebase1; border-color: $rebase0 }
    a, a:active, a:visited    { color: $rebase1 }
}

@mixin accentize($accent) {
  a, a:active,
  a:visited, code.url         { color: $accent }
  h1,h2,h3,h4,h5,h6           { color: $accent }
  highlight, ::selection      { background-color: $accent; color: $base3 }
}

/* light is default mode, so pair with general html definition */
html, .light                  { @include rebase($base3,$base2,$base1,$base0,
                                                $base00,$base01,$base02,
                                                $base03) }
.dark                         { @include rebase($base03,$base02,$base01,$base00,
                                                $base0,$base1,$base2,$base3) }
html *                        { color-profile: sRGB; rendering-intent: auto }

.yellow   { @include accentize($yellow) }
.orange   { @include accentize($orange) }
.red      { @include accentize($red) }
.magenta  { @include accentize($magenta) }
.violet   { @include accentize($violet) }
.blue     { @include accentize($blue) }
.cyan     { @include accentize($cyan) }
.green    { @include accentize($green) }
